body {
    background-color: rgb(255, 255, 255);
}

h1,
h2,
h3{
    text-align: center;
  }


 .topnav {
    background-color: rgb(185, 167, 132);
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: tan;
  }

#header {
    margin:200px;
}

  #about  {
    margin: 200px;
  }

  .grid-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    grid-gap: 30px;
    margin: 40px;
    width: 70%;
    flex-grow: 1;
    margin-left: 400px;
  }
  
  .grid-item {
    font-size: 30px;
    width: 30%;
    height: 100%
    text-align: center;
    flex-grow: 0;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
  }
  
  .grid-item:hover {
    filter: none;
    -webkit-filter: grayscale(0);
 }

  .grid-item img {
    object-fit: cover;
    justify-content: center;
    width: 100%;
    height: 88%;
  }

  #work1:hover {
    filter: none;
    -webkit-filter: grayscale(0);
 }

  @media only screen and (max-width: 1024px) {
    .grid-item {
      width: 45%;
    }
  }

  @media only screen and (max-width: 750px) {
    .grid-item {
      width: 85%;
    }
  }