h1{
    text-align: center;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: tan;
  }

  .grid-container {
    display: inline-flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    grid-gap: 30px;
    margin: 40px;
    width: 80%;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-style:dashed;
    font-size: 30px;
    width: 416px;
    aspect-ratio: 1/1;
    text-align: center;
    flex-grow: 0;
  }

  @media only screen and (max-width: 1024px) {
    .grid-item {
      width: 15%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .grid-item {
      width: 40%;
    }
  }